* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid black;
    overflow: hidden;
}

